extends layout

block content
  .row
    h2.small-12.columns.text-center Short your URL!
  .row
    form(method='post', action='/')
      div.small-8.small-centered.columns
        .row.collapse
          div.small-3.columns
            span.prefix http://
          div.small-9.columns
            input#url-input(type='text', name='url' placeholder='www.domain.com')
          .row.collapse
            div.small-12.columns
              input.button.small.expand(type='submit', value='Short it')
  .row
    div.small-12.columns.text-center: a(href='#') List all shortened URLs
