doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title URL SHORT!
    link(rel='stylesheet', href='css/normalize.css')
    link(rel='stylesheet', href='css/foundation.min.css')
    link(rel='stylesheet', href='css/app.css')
    script(src='js/modernizr.js')
  body
    .row
      a(href='/'): h2.small-12.columns.text-center Short your URL!
    block content

    script(src='js/jquery.min.js')
    script(src='js/foundation.min.js')
    script(src='js/url_short.js')
